<ion-view view-title="Gig Preferences">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ul class="list">
      <li class="item" style="padding: 0;">
        <label class="item-input">
          <span class="input-label">Show me Gigs within (miles)</span>
          <input type="number">
        </label>
      </li>
      <li class="item" style="padding: 0;">
        <label class="item-input">
          <span class="input-label">Show me knaqees within (miles)</span>
          <input type="number">
        </label>
      </li>
    </ul>
  </ion-content>
</ion-view>