<ion-view view-title="Activity Log">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item>
                <h2>Applied for Tutoring</h2>
            </ion-item>
            <ion-item>
                <h2>Posted a project</h2>
            </ion-item>
            <ion-item>
                <h2>Hired Shrini for Tutoring</h2>
            </ion-item>
            <ion-item>
                <h2>Added Lifting to Portfolio</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>