<ion-view view-title="Terms and policies">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <h4>Welcome to KNAQ!</h4>
    <p>Thanks for your interest in our search and advertising services (the “Services”)!  
      By using our Services, you agree to these terms (the “KNAQ Terms”), the KNAQ Program Policies and the KNAQ Branding Guidelines  (collectively, the “Agreement”). If ever in conflict, to the extent of such conflict, the KNAQ Terms will take precedence over any other terms of the Agreement.  Please read the Agreement carefully.
      As used in the Agreement, “you” or “publisher” means the individual or entity using the Services (and/or any individual, entity or successor entity, agency or network acting on your behalf), “we,” “us” or KNAQ means KNAQ Inc., and the “parties” means you and KNAQ.  
    <p>
    <h4>Access to the Services; KNAQ Accounts</h4>
    <p>
      Your use of the Services is subject to your creation and our approval of an KNAQ account (an “Account”).  We have the right to refuse or limit your access to the Services. By submitting an application to use the Services, if you are an individual, you represent that you are at least 18 years of age.  You may only have one Account.  
      By enrolling in KNAQ, you permit KNAQ to serve, as applicable, (i) advertisements and other content (“Ads”), (ii) KNAQ search boxes and search results, and (iii) related search queries and other links to your websites, mobile applications, media players, mobile content, and/or other properties approved by KNAQ (each individually a “Property”).  In addition, you grant KNAQ the right to access, index and cache the Properties, or any portion thereof, including by automated means. KNAQ may refuse to provide the Services to any Property.
      Any Property that is a software application and accesses our Services (a) may require preapproval by KNAQ in writing, and (b) must comply with KNAQ's' Software Principles.
    </P>
    <h4>Using our Services</h4>
    <p>
      You may use our Services only as permitted by this Agreement and any applicable laws.  Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide.
      You may discontinue your use of any Service at any time by removing the relevant code from your Properties.  
    </P>
    <h4>Changes to our Services; Changes to the Agreement</h4>
    <p>
      We are constantly changing and improving our Services. We may add or remove functionalities or features of the Services at any time, and we may suspend or stop a Service altogether.
      We may modify the Agreement at any time. We’ll post any modifications to the KNAQ Terms on this page and any modifications to the KNAQ Program Policies or the KNAQ Branding Guidelines on their respective pages.  Changes will not apply retroactively and generally will become effective 14 days after they are posted. However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately. If you don’t agree to any modified terms in the Agreement, you’ll have to stop using the affected Services.
    </P>
  </ion-content>
</ion-view>