<ion-view view-title="Sign In">

<ion-content class="padding">


<div class="list">

  <label class="item item-input item-floating-label" >
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email" ng-model="signin.email">
  </label>
  <label class="item item-input item-floating-label" >
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password" ng-model="signin.password">
  </label>

  <button class="button button-block button-positive" ng-model="signin.submitButton" ng-disabled="!signin.email || !signin.password" ng-click="signIn()">
    Sign In
  </button>
  <button class="button button-block button-light" ng-model="signin.cancelButton" ng-click="reset()">Reset</button>
</div>



</ion-content>
<div class="bar bar-footer bar-dark" ng-model="signin.goToSignUp" ng-click="signup()">
  <div class="title">Sign Up</div>
</div>
</ion-view>
