<ion-view view-title="Sign up">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>


    <div class="list">

      <label class="item item-input item-floating-label" >
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="signup.email">
      </label>
      <label class="item item-input item-floating-label" >
        <span class="input-label">User Name</span>
        <input type="text" placeholder="User Name" ng-model="signup.username">
      </label>

      <label class="item item-input item-floating-label" >
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="signup.password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password Confirmation</span>
        <input type="password" placeholder="Password Confimation" ng-model="signup.passwordConfirmation">
      </label>
    </div>
    <div class="padding">

      <button class="button button-block button-positive" ng-model="signup.submitButton" ng-disabled="!signup.email || !signup.password || !signup.passwordConfirmation" ng-click="signUp()">
        Sign Up
      </button>
      <button class="button button-block button-stable" ng-model="signup.cancelButton" ng-click="reset()">Reset</button>

    </div>

  </ion-content>
</ion-view>
