<ion-view view-title="Gigs" class="discoverGigsTab">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="secondary">
    <a class="button" href="#/tab/new-gig">
      <h3><i class="ion-plus-round light"></i></h3>
    </a>
  </ion-nav-buttons>

  <ion-content>

    <div class="padding data-loader" ng-show="gigs.loadingData==true">
      <ion-spinner icon="ripple"></ion-spinner>
    </div>
    
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="gig in gigs.allGigList" type="item-text-wrap" href="#/tab/discover-gigs/{{gig.$id}}">

        <img src="../img/dollar2.png" alt="">
        <h2>{{gig.title}}</h2>
        <p>{{gig.username}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>