<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Create a new gig">
    <ion-content class="padding">
        <div>
            <img ng-show="imageURI !== undefined || imageURI !== null" ng-src="{{imageURI}}" width = "75%">
            <img ng-show="imageURI === undefined || imageURI === null" ng-src="http://placehold.it/300x300">
            <button class="button" ng-click="getPicture()">Get Picture</button>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Position title</span>
                <input ng-model="newGig.title" type="text" placeholder="Position title"></input>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Hourly pay</span>
                <input ng-model="newGig.pay" type="number" placeholder="Hourly pay"></input>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Gig location</span>
                <input ng-model="newGig.location" type="text" placeholder="Gig location"></input>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Postion description</span>
                <textarea ng-model="newGig.description" placeholder="Position description"></textarea>
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="newGig.postGig()">
            Post your gig!
        </button>
    </ion-content>
</ion-view>