<ion-view view-title="My Gigs"> 
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
		<div class="tabs">
			<a class="tab-item active"  ng-click="myGigs.tabClick('tab-inprogress')" ng-class="{'active': myGigs.tabSelection =='tab-inprogress'}">
				In Progress
			</a>
			<a class="tab-item" ng-click="myGigs.tabClick('tab-applied')" ng-class="{'active': myGigs.tabSelection =='tab-applied'}">
				Applied
			</a>
			<a class="tab-item" ng-click="myGigs.tabClick('tab-myposts')" ng-class="{'active': myGigs.tabSelection =='tab-myposts'}">
				My Posts
			</a>
		</div>
	</div>
	<ion-content class="has-tabs-top">

		<div class="padding data-loader" ng-show="myGigs.loadingData==true">
			<ion-spinner icon="ripple"></ion-spinner>
		</div>
		
		<div ng-switch on="myGigs.tabSelection">
			<div ng-switch-default>

				<div class="list" ng-show="myGigs.gigsInProgress.length > 0">
					<a class="item item-avatar" href="#" ng-repeat="gigInProgress in myGigs.gigsInProgress">
						<h2>{{gigInProgress.title}}</h2>
						<p>{{gigInProgress.description}}</p>
					</a>
				</div>

				<div class="padding message" ng-show="myGigs.gigsInProgress.length == 0 || myGigs.gigsInProgress == null">
					<p>
						You don't have any gigs in progress at this moment.
					</p>
				</div>


			</div>
			<div ng-switch-when="tab-applied">
				
				<div class="list" ng-show="myGigs.myAppliedGigs.length > 0">
					<a class="item item-avatar" href="#" ng-repeat="myAppliedGig in myGigs.myAppliedGigs">
						<h2>{{myAppliedGig.title}}</h2>
						<p>{{myAppliedGig.description}}</p>
					</a>
				</div>

				<div class="padding message" ng-show="myGigs.myAppliedGigs.length == 0 || myGigs.myAppliedGigs == null">
					<p>
						You haven't applied for any gigs at this moment.
					</p>
				</div>

			</div>

			<div ng-switch-when="tab-myposts">

				<div class="list" ng-show="myGigs.myPosts.length > 0">
					<a class="item item-avatar" href="#" ng-repeat="myPost in myGigs.myPosts">
						<h2>{{myPost.title}}</h2>
						<p>{{myPost.description}}</p>
					</a>
				</div>
				<div class="padding message" ng-show="myGigs.myPosts.length == 0 || myGigs.myPosts == null">
					<p>
						You haven't posted any gigs at this moment.
					</p>
				</div>

			</div>
		</div>
		
	</ion-content>
</ion-view>