<ion-view view-title="Profile">
  <ion-content class="padding">
    
    <div class="list">

      <div class="item item-divider">
        Welcome, {{signedInUser.username}}
      </div>

        <a class="item" href="#" ng-repeat="user in allUsers">
          {{user.username}} is <span ng-show="user.online == 'true'">Online</span><span ng-show="user.online == 'false'">Offline</span>
        </a>

    </div>

    <button class="button button-full button-assertive" ng-model="user.signout" ng-click="signout()">
      Sign out
    </button>
        
  </ion-content>

</ion-view>
