<ion-view view-title="Gigs">
  <ion-nav-buttons side="secondary">
    <a class="button" href="#/tab/new-gig">
      <h3><i class="ion-plus-round"></i></h3>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="gig in gigs.allGigList" type="item-text-wrap" href="#/tab/gigs/{{gig.$id}}">

        <img ng-src="{{gig.photo}}">
        <h2>{{gig.username}}</h2>
        <p>{{gig.title}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>