<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{myGigDetail.myGigData.title}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <img ng-src="{{myGigDetail.myGigData.photo}}" style="width: 64px; height: 64px">
    <p>
      {{myGigDetail.myGigData.description}}
    </p>
    
    <button class="button button-block button-positive" ng-show="myGigDetail.myParentState=='inprogress'" ng-click="myGigDetail.myGigData.drop()">
      Drop
    </button>
    <button class="button button-block button-positive" ng-show="myGigDetail.myParentState=='applied'" ng-click="myGigDetail.myGigData.unapply()">
      Withdraw Application
    </button>
    <button class="button button-block button-positive" ng-show="myGigDetail.myParentState=='myposts'" ng-click="myGigDetail.myGigData.delete()">
      Delete
    </button>
    
  </ion-content>
</ion-view>