<ion-view view-title="My Gigs"> 
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
		<div class="tabs">
			<a class="tab-item active" ng-class="{'active': myGigs.tabSelection =='tab-inprogress'}" ng-click="myGigs.tabClick('tab-inprogress')">
				In Progress
			</a>
			<a class="tab-item" ng-class="{'active': myGigs.tabSelection =='tab-applied'}" ng-click="myGigs.tabClick('tab-applied')">
				Applied
			</a>
			<a class="tab-item" ng-class="{'active': myGigs.tabSelection =='tab-myposts'}" ng-click="myGigs.tabClick('tab-myposts')">
				My Posts
			</a>
		</div>
	</div>
	<ion-content class="has-tabs-top">
		<div ng-switch on="myGigs.tabSelection">
			<div ng-switch-default>

				<div class="list">
					<a class="item item-avatar" href="#" ng-repeat="gigInProgress in myGigs.gigsInProgress">
						<h2>{{gigInProgress.title}}</h2>
						<p>{{gigInProgress.description}}</p>
					</a>
				</div>

			</div>
			<div ng-switch-when="tab-applied">
				
				<div class="list">
					<a class="item item-avatar" href="#" ng-repeat="myAppliedGig in myGigs.myAppliedGigs">
						<h2>{{myAppliedGig.title}}</h2>
						<p>{{myAppliedGig.description}}</p>
					</a>
				</div>

			</div>

			<div ng-switch-when="tab-myposts">

				<div class="list">
					<a class="item item-avatar" href="#" ng-repeat="myPost in myGigs.myPosts">
						<h2>{{myPost.title}}</h2>
						<p>{{myPost.description}}</p>
					</a>
				</div>

			</div>
		</div>
	</ion-content>
</ion-view>