.list .item:first-child{
  border-top:none;
}
.message {
  padding: 20px 0px;
  color: #999;
  text-align: center;
}
.data-loader{
  padding: 50px;
  text-align: center;
}

.myGigsTab .item-avatar > img{
	border-radius: 0;
	margin-top: 2px;
	transform: scale(0.75);
}

.discoverGigsTab .item-avatar .item-content> img{
	border-radius: 0;
	margin-top: 1px;
	transform: scale(0.75);
}
.discoverGigsTab .item-avatar .item-content> span.badge{
	top: 27px;
    right: 40px;
    font-weight: 300;
}